<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/blog/bootstrap/css/bootstrap.css">
</head>
<body>
<h3>登录博客园 - 代码改变世界</h3>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form action="" enctype="application/x-www-form-urlencoded">
                {% csrf_token %}
                <div class="form-group">
                    <label for="user">登录用户名</label>
                    <input type="text" id="user" class="form-control">
                </div>
                <div class="form-group">
                    <label for="pwd">密码</label>
                    <input type="password" id="pwd" class="form-control">
                </div>

                <div class="form-group">
                    <label for="pwd">验证码</label>
                    <div class="row">
                        <div class="col-md-6">
                            <input type="text" id="valid_code" class="form-control">
                        </div>
                        <div class="col-md-6">
                            <img width='220' height='40' id='valid_code_img' src="/get_validCode_img" alt="">
                        </div>
                    </div>
                </div>

                <input type="button" value='登录' class="btn btn-default login_btn"><span class="error"></span>
                <a href="/register/" class="btn btn-success pull-right">注册</a>
            </form>
        </div>
    </div>
</div>

<script src="/static/blog/bootstrap/js/jquery-3.3.1.min.js"></script>
<script>
{#    验证码刷新：点击图片，对src不断的做出改变，即在后面多加一个？即可实现局部刷新，不用额外发送ajax请求#}
    $('#valid_code_img').click(function () {
        $(this)[0].src += '?'
    });

{#    登录验证#}
    $('.login_btn').click(function () {
        $.ajax({
            url:'',
            type:'post',
            data:{
                user:$('#user').val(),
                pwd:$('#pwd').val(),
                valid_code:$('#valid_code').val(),
                {#发送post请求，一定要通过csrf校验，ajax发送，必须自己组装该键值对发送给服务器#}
                {#csrfmiddlewaretoken:$("[name='csrfmiddlewaretoken']").val(),#}
{#                {{ csrf_token }}#}
            },
            success:function(data){
                if(data.user){
                    {# 前端的跳转方法：location.href #}
                    location.href = '/index/' ;   {# 跳转到首页 #}
                }
                else {
                    $('.error').html(data.msg).css({'color':'red','margin-left':'15px'});
                    
                    setTimeout(function () {   {# 2s后清空该错误提示 #}
                        $('.error').html('')
                    },2000);
                }
            }
        })
    });

</script>


</body>
</html>